In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("diamonds.csv", index_col="Unnamed: 0")

In [15]:
test = int(df.shape[0] - df.shape[0] / 100 * 20)

In [18]:
df.iloc[:test].to_csv("Diamonds_train.csv")

In [19]:
df.iloc[test:].to_csv("Diamonds_test.csv")

In [7]:
df.drop(['cut', 'color', 'clarity', 'price'], axis=1)

       carat  depth  table     x     y     z
1       0.23   61.5   55.0  3.95  3.98  2.43
2       0.21   59.8   61.0  3.89  3.84  2.31
3       0.23   56.9   65.0  4.05  4.07  2.31
4       0.29   62.4   58.0  4.20  4.23  2.63
5       0.31   63.3   58.0  4.34  4.35  2.75
...      ...    ...    ...   ...   ...   ...
53936   0.72   60.8   57.0  5.75  5.76  3.50
53937   0.72   63.1   55.0  5.69  5.75  3.61
53938   0.70   62.8   60.0  5.66  5.68  3.56
53939   0.86   61.0   58.0  6.15  6.12  3.74
53940   0.75   62.2   55.0  5.83  5.87  3.64

[53940 rows x 6 columns]

In [8]:
df['price']

1         326
2         326
3         327
4         334
5         335
         ...
53936    2757
53937    2757
53938    2757
53939    2757
53940    2757
Name: price, Length: 53940, dtype: int64